.flexbox-container {
    display: flex;
    justify-content: center;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid rgb(141, 24, 24);
    background-color: rgb(231, 148, 39);
}

.flexbox-item-1 {
    min-height: 500px;
    width: 500px;
    height: 600px;
}

.flexbox-item-1 {
    min-height: 100px;

}

.flexbox-item-1 {
    min-height: 100px;
}