//Right Section
$red: #7d2430;
$yellow: #efc94a;

.disabled
{
    opacity: 0.7;
}

.buttons{
    width: 33%;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0 ;
        border-radius: 10px;
        margin-right: 30px;
        position: relative;
        background: url("../img/briques.PNG");
        border: 2px solid $yellow;
        width: 60%;
        margin-left: auto;
        .owl
        {
            width: 220px;
            position: absolute;
            top: -100px;
        }

        
        .btn {
            position: relative;
            background-color: $yellow;
            color: $red;
            font-size: 1.5em;
            padding-left: 15px;
            margin: 5px 40px;
            font-family: "Harry P", sans-serif;
            width: 9em;
            height: 4.5rem;
            outline: none;
            border-radius: 10px;
            cursor: url("../img/magicWand.png"),auto;

            .title{
                /*position: absolute;
                top: 0;
                left: 10%;*/
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 2rem;
                margin-bottom: 20px;
            }
            .price{
                position: absolute;
                bottom: 6%;
                left: 10%;
            }
            .compteur{
                font-size: 2rem;
                position: absolute;
                right: 10%;
                left: 85%;
                top: 10px;
            }

            .bonhomme
            {
                max-height: 5vh;
            }
        }
    
    }
    
}