.disabled
{
    opacity: 0.7;
}

.buttons{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 10px 0;
    border-radius: 10px;
    margin-right: 30px;
    position: relative;
    background: url("../img/briques.PNG");

    .owl
    {
        width: 220px;
        position: absolute;
        top: -70px;
    }

    
    .btn {
        position: relative;
        background-color:  #efc94a;
        color:  #7d2430;
        font-size: 1.5em;
        padding-left: 15px;
        margin: 5px 40px;
        font-family: "Harry P", sans-serif;
        width: 9em;
        height: 5rem;

        .title{
            position: absolute;
            top: 0;
            left: 10%;
            font-size: 2rem;
        }
        .price{
            position: absolute;
            bottom: 10%;
            left: 10%;
        }
        .compteur{
            font-size: 2rem;
            position: absolute;
            right: 10%;
            left: 85%;
            top: 10px;
        }

        .bonhomme
        {
            width: 30px;
        }
    }
    
}