#mathieu {

  div{
    height: 140px;
    background-size: cover;
    background-position: center center ;
    margin: 0.5rem;
    border-radius: 10px;
    img{
      width: 35px;
      padding-left: .7em;
      padding-top: .5em;
      justify-content: center;
    }
  }
    #ronSection  {
        background: {
            image: url("../img/bgYellow.png");
          }
    }

    #hermioneSection {
      background: {
          image: url("../img/bgRed.png");
          
        }
  }

    #harrySection {
      background: {
        image: url("../img/bgBlue.png");
        
      }
}

    #dobbySection {
        background: {
          image: url("../img/bgGreen.png");
      
    }
}


  width: 33%;
  
}



