#mathieu {

  div{
    height: 100px;
    background-size: cover;
    background-position: center center ;
    margin: 2rem;
    img{
      width: 30px;
    }
  }
    #ronSection  {
        background: {
            image: url("../img/hapo.jpg");
          }
    }

    #hermioneSection {
      background: {
          image: url("../img/hermi.jpeg");
        }
  }
  width: 33%;
}



