@font-face
{
    font: {
        family: "Harry P";
        size: normal;
        weight: normal;
    }
    src: url("../fonts/HarryP.TTF") format("truetype");
}

@import "mathieu";
@import "middle";
@import "button";

$red: #7d2430;
$yellow: #efc94a;


*,
*::before,
*::after
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Harry P', sans-serif;
}

body
{
    background: {
        color: $red;
        image: url("../img/hogwarts.png");
        size: cover;
    };
    font-family: "Harry P", sans-serif;
    cursor: url('../img/wand.png'),auto;
}

h1
{
    color:  $yellow;
    font-size: 7em;
    letter-spacing: 0.2em;
    margin: 20px;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid $yellow;

}

#container
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    margin: 0;
    padding: 0;  
    height: 70vh;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.house
{
    height: 9vh;
    margin: 10px 10px;
    border: 2px solid $yellow;
    border-radius: 6vh;
}