@font-face
{
    font: {
        family: "Harry P";
        size: normal;
        weight: normal;
    }
    src: url("../fonts/HarryP.TTF") format("truetype");
}

@import "button";

$red: #7d2430;
$yellow: #efc94a;


*,
*::before,
*::after
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Harry P', sans-serif;
}

body
{
    background: {
        color: $red;
        image: url("../img/hogwarts.png");
        size: cover;
    };
    font-family: "Harry P", sans-serif;

}

h1
{
    color:  $yellow;
    font-size: 6em;
    letter-spacing: 0.2em;
    margin: 20px;
    margin-bottom: 40px;
    text-align: center;

}

#container
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    
}

.dumbledore
{
    background: transparent;
    border: none;
    margin-top: 40px;
    margin-left: 120px;
    cursor: pointer;
    outline: none;
    &:hover{
        transition: 0.6s;
        transform: scale(1.1);
    }
    &:active{
        transition: 0.6s;
        transform: scale(0.9);
    }
}


.wordScore
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


.owl
{
    width: 250px;
    position: absolute;
    top: -50px;
}

footer
{
    display: flex;
    background: url('images/trait.png') no-repeat;
    margin-top: 80px;
    justify-content: space-between;
}