@font-face
{
    font: {
        family: "Harry P";
        size: normal;
        weight: normal;
    }
    src: url("../fonts/HarryP.TTF") format("truetype");
}

@import "button";

$red: #7d2430;
$yellow: #efc94a;


*,
*::before,
*::after
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Harry P', sans-serif;
}

body
{
    background: {
        color: $red;
        image: url("../img/hogwarts.png");
        size: cover;
    };
    font-family: "Harry P", sans-serif;

}

h1
{
    color:  $yellow;
    font-size: 7em;
    letter-spacing: 0.2em;
    margin: 20px;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid $yellow;

}

#container
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    margin: 0;
    padding: 0;  
}


//MIDDLE
.dumbledore
{
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 240px;
    left: 650px;
    &:hover{
        transition: 0.6s;
        transform: scale(1.1);
    }
    &:active{
        transition: 0.6s;
        transform: scale(0.9);
    }
}

.dumbleclick
{
    width: 250px;
}

.word
{
    font-size: 3em;
    color: $yellow;
    position: relative;
    left: 90px;
    top: 40px;
}

.wordScore
{
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#clockDown
{
    position: absolute;
    top: 210px;
    left: 950px;
    color: $yellow;
    font-size: 2em;
}

//RIGHT
.owl
{
    width: 250px;
    position: absolute;
    top: -50px;
}