@font-face {
  font-family: "Harry P";
  font-size: normal;
  font-weight: normal;
  src: url("../fonts/HarryP.TTF") format("truetype");
}
#mathieu {
  background-color: black;
  background-image: url("../img/hapo.jpg");
}
#mathieu #ronSection img {
  width: 50px;
}

.disabled {
  opacity: 0.7;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  background: rgba(191, 191, 182, 0.7);
  border-radius: 10px;
  border: 2px solid #efc94a;
  margin-right: 30px;
  position: relative;
}
.buttons .btn {
  position: relative;
  background-color: #efc94a;
  color: #7d2430;
  font-size: 1.8em;
  padding-left: 15px;
  margin: 30px;
  border-radius: 25px;
  font-family: "Harry P", sans-serif;
  width: 10em;
  height: 5rem;
}
.buttons .btn .title {
  position: absolute;
  top: 0;
  left: 10%;
  font-size: 2.5rem;
}
.buttons .btn .price {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.buttons .btn .compteur {
  font-size: 4rem;
  position: absolute;
  right: 10%;
  top: 0;
  opacity: 0.7;
}

#score {
  background-color: #efc94a;
  color: #7d2430;
  font-size: 1.8em;
  margin: 120px;
  border-radius: 25px;
  font-family: "Harry P", sans-serif;
  width: 5em;
  text-align: center;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  font-family: "Harry P", sans-serif;
}

body {
  background-color: #7d2430;
  background-image: url("../img/hogwarts.png");
  background-size: cover;
  font-family: "Harry P", sans-serif;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 300px;
  background-image: url("../img/hapo.jpg");
}

.dumbledore {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.dumbledore:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.dumbledore:active {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

h1 {
  color: #efc94a;
  font-size: 7em;
  letter-spacing: 0.2em;
  margin: 20px;
  text-align: center;
}

.score {
  font-size: 1em;
}

.owl {
  width: 250px;
  position: absolute;
  top: -110px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("images/trait.png") no-repeat;
  margin-top: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}/*# sourceMappingURL=style.css.map */