@font-face {
  font-family: "Harry P";
  font-size: normal;
  font-weight: normal;
  src: url("../fonts/HarryP.TTF") format("truetype");
}

#mathieu {
  cursor: url("../img/wand.png") 4 4, auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: flex-star;
      -ms-flex-align: flex-star;
          align-items: flex-star;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  height: 100%;
  width: 33%;
}

#mathieu div {
  height: 20%;
  background-size: cover;
  background-position: center center;
  margin: 0.5rem;
  border-radius: 10px;
  position: relative;
  width: 332px;
}

#mathieu div img {
  width: 12%;
  padding-left: .7em;
  padding-top: .5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mathieu #ronSection {
  background-image: url("../img/bgYellow.png");
}

#mathieu #hermioneSection {
  background-image: url("../img/bgRed.png");
}

#mathieu #harrySection {
  background-image: url("../img/bgBlue.png");
}

#mathieu #dobbySection {
  background-image: url("../img/bgGreen.png");
}

.middle {
  position: relative;
  width: 33%;
  height: 100%;
}

.middle .dumbledore {
  background: transparent;
  border: none;
  cursor: url("../img/magicWand.png"), auto;
  outline: none;
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.middle .dumbledore:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.middle .dumbledore:active {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.middle .dumbleclick {
  height: 60vh;
}

.middle .word {
  font-size: 3em;
  color: #efc94a;
}

.middle #score {
  color: #efc94a;
  font-size: 1.8em;
  font-family: "Harry P", sans-serif;
  width: 2em;
  height: 1em;
  text-align: center;
}

.middle .wordScore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}

.middle .clockDown {
  position: absolute;
  top: 5%;
  right: 0;
  color: #efc94a;
  font-size: 2.5em;
}

.disabled {
  opacity: 0.7;
}

.buttons {
  width: 33%;
}

.buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-radius: 10px;
  margin-right: 30px;
  position: relative;
  background: url("../img/briques.PNG");
  border: 2px solid #efc94a;
  width: 60%;
  margin-left: auto;
}

.buttons div .owl {
  width: 220px;
  position: absolute;
  top: -100px;
}

.buttons div .btn {
  position: relative;
  background-color: #efc94a;
  color: #7d2430;
  font-size: 1.5em;
  padding-left: 15px;
  margin: 5px 40px;
  font-family: "Harry P", sans-serif;
  width: 9em;
  height: 5rem;
  outline: none;
  border-radius: 10px;
  cursor: url("../img/magicWand.png"), auto;
}

.buttons div .btn .title {
  position: absolute;
  top: 0;
  left: 10%;
  font-size: 2rem;
}

.buttons div .btn .price {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.buttons div .btn .compteur {
  font-size: 2rem;
  position: absolute;
  right: 10%;
  left: 85%;
  top: 10px;
}

.buttons div .btn .bonhomme {
  width: 30px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  font-family: 'Harry P', sans-serif;
}

body {
  background-color: #7d2430;
  background-image: url("../img/hogwarts.png");
  background-size: cover;
  font-family: "Harry P", sans-serif;
  cursor: url("../img/wand.png"), auto;
}

h1 {
  color: #efc94a;
  font-size: 7em;
  letter-spacing: 0.2em;
  margin: 20px;
  margin-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid #efc94a;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  height: 70vh;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.house {
  height: 9vh;
  margin: 10px 10px;
  border: 2px solid #efc94a;
  border-radius: 6vh;
}
/*# sourceMappingURL=style.css.map */